@import './nav';
@import './content';
@import './footer';
@media (max-width:1300px) {
    .app-content__item {
        min-width: 25vw
    }
}

@media(max-width:900px) {
    .app-content__article {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 50px;
        margin-bottom: -100px;
    }
    .app-content__aticle-img {
        min-width: 90vw;
        max-height: 30vh;
    }
    .app-content__article-text {
        min-width: 90vw;
    }
    .app-content__offer {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-top: -70px;
    }
    .app-content__item {
        min-width: 50vw;
    }
    .app-nav__button {
        display: none;
    }
    .app-nav__burgerMenu {
        display: block;
        transition: ease-in-out 0.3s;
    }
    .app-nav__links {
        position: absolute;
        right: 0;
        top: 8vh;
        background-color: rgb(111, 59, 141);
        height: 92vh;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        margin-top: 0px;
        transform: translate(100%);
        transition: 0.3s all;
    }
    .active {
        transform: translate(0%);
    }
    .app-nav__link {
        font-size: 25px;
        width: 80vw;
        margin-left: -70px;
        text-align: center;
        letter-spacing: 1px;
    }
    .app-nav__burgerMenu.active .app-nav__line:first-child {
        transform: translateY(-300px);
    }
    .app-nav__burgerMenu.active .app-nav__line:nth-child(2) {
        transform: rotate(-405deg) translateY(8px)
    }
    .app-nav__burgerMenu.active .app-nav__line:nth-child(3) {
        transform: rotate(-320deg) translateY(-8px)
    }
}

@media (max-width:600px) {
    .app-content__item {
        min-width: 80vw;
    }
    .app-content__article {
        margin-top: 100px;
        margin-bottom: -100px;
    }
    .app-nav__links {
        width: 90%;
    }
}

@media (max-width:500px) {
    .app-content__article {
        margin-top: 100px;
    }
}

@media (max-width:400px) {
    .app-content__article {
        margin-top: 120px;
    }
}